/* nav{
    padding: 0;
    margin: 0;
}
.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: 0;
    font-family: 'outfit', sans-serif;
    font-size: .875rem;
    line-height: 1.25rem;
    gap: 170px;
}
.bg-body-tertiary{
    --bs-bg-opacity: 0;
}
.navbar{
    padding: 0;
}
.navbar-expand-lg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo{
    padding: 0;
    margin: 0;
    height: 41px;
}
.container-fluid a img{
    width: 144px;
    height: 41px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    text-transform: uppercase;
}



.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a.active {
    border-bottom: 0px solid black;
}

.navbar li a {
    position: relative;
    text-decoration: none;
    padding-bottom: 0.25rem;
}

.navbar li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.navbar li a.active::after, .navbar li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.navbar li a.admin-link {
    position: static;
    padding-bottom: 0;
}

.navbar li a.admin-link::after {
    content: none;
}

.admin-link {
    border: 1px solid #e5e7eb;
    padding: 4px 20px;
    font-size: 0.75rem;
    border-radius: 9999px;
    display: inline-block;
    text-transform: none;
}

.admin-link p {
    margin: 0;
}




.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.search img{
    width: 20px;
    height: 20px;
}
.group img{
    width: 20px;
    height: 24px;
}
.bag img{
    width: 20px;
    height: 22px;
    padding: 0;
    margin: 0;
}
.bag {
    position: relative;
}

.counter {
    position: absolute;
    right: -5px;
    bottom: -20px;
    width: 16px;
    text-align: center;
    line-height: 16px;
    background-color: black;
    color: white;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 8px;
}
 */






ul p{
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
}
.admin{
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: none;
}

ul a.active{
    border-bottom: 0px solid black;
}

ul a {
    position: relative;
}

ul a::after {
    content: '';
    position: relative;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: #494949;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

ul a.active::after, ul  a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

ul a.admin-link {
    position: static;
    padding-bottom: 0;
}

.navbar li a.admin-link::after {
    content: none;
}

.drop a.active{
    background-color: black;
    color: white;
}
